arcusys-portlet/koku-message-service/src/main/wsdl/LoggingServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="LoggingService"
	targetNamespace="http://soa.common.koku.arcusys.fi/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.common.koku.arcusys.fi/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified"
			targetNamespace="http://soa.common.koku.arcusys.fi/" version="1.0"
			xmlns:tns="http://soa.common.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="logFileDownload" type="tns:logFileDownload" />
			<xs:element name="logFileDownloadResponse" type="tns:logFileDownloadResponse" />
			<xs:element name="logFileUpload" type="tns:logFileUpload" />
			<xs:element name="logFileUploadResponse" type="tns:logFileUploadResponse" />
			<xs:complexType name="logFileUpload">
				<xs:sequence>
					<xs:element minOccurs="0" name="uid" type="xs:string" />
					<xs:element minOccurs="0" name="path" type="xs:string" />
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="logFileUploadResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="logFileDownload">
				<xs:sequence>
					<xs:element minOccurs="0" name="uid" type="xs:string" />
					<xs:element minOccurs="0" name="path" type="xs:string" />
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="logFileDownloadResponse">
				<xs:sequence />
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="logFileUpload">
		<wsdl:part element="tns:logFileUpload" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="logFileDownloadResponse">
		<wsdl:part element="tns:logFileDownloadResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="logFileDownload">
		<wsdl:part element="tns:logFileDownload" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="logFileUploadResponse">
		<wsdl:part element="tns:logFileUploadResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LoggingService">
		<wsdl:operation name="logFileUpload">
			<wsdl:input message="tns:logFileUpload" name="logFileUpload">
			</wsdl:input>
			<wsdl:output message="tns:logFileUploadResponse" name="logFileUploadResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logFileDownload">
			<wsdl:input message="tns:logFileDownload" name="logFileDownload">
			</wsdl:input>
			<wsdl:output message="tns:logFileDownloadResponse" name="logFileDownloadResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LoggingServiceSoapBinding" type="tns:LoggingService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="logFileUpload">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="logFileUpload">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="logFileUploadResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logFileDownload">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="logFileDownload">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="logFileDownloadResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoggingService">
		<wsdl:port binding="tns:LoggingServiceSoapBinding" name="LoggingServicePort">
			<soap:address
				location="http://localhost:8180/arcusys-koku-0.1-SNAPSHOT-arcusys-common-0.1-SNAPSHOT/LoggingServiceImpl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>